span  {
	color: rgb(240, 217, 36);
}
.klasuphikacia p {
	color: blueviolet;
}
.opus {
	color: brown;
}
.progrubu   {
	color: deeppink;
}
.cereduna a {
	color: aqua;
}
.kinec h3 {
	color: blueviolet;
}
.text a {
	color: gold;
}
